In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('attendance.csv')
df['Home'] = df['Home'].astype('category')
df['Away'] = df['Away'].astype('category')

### Question 1: Group by a categorical column and take the mean of the numeric columns

In [3]:
df.groupby('Home').mean()

                         Attendance
Home
Arizona Diamondbacks   12876.666667
Atlanta Braves         29434.623377
Baltimore Orioles      10169.602564
Boston Red Sox         21434.329114
Chicago Cubs           24503.558442
Chicago White Sox      20620.922078
Cincinnati Reds        18683.237500
Cleveland Indians      14513.578947
Colorado Rockies       24854.423077
Detroit Tigers         13706.358974
Houston Astros         25537.148148
Kansas City Royals     14383.287500
Los Angeles Angels     18777.662500
Los Angeles Dodgers    34625.839506
Miami Marlins           7933.543210
Milwaukee Brewers      22522.000000
Minnesota Twins        16390.886076
New York Mets          20815.388889
New York Yankees       24134.743590
Oakland Athletics       8767.875000
Philadelphia Phillies  19188.481013
Pittsburgh Pirates     10597.822785
San Diego Padres       27061.111111
San Francisco Giants   20734.370370
Seattle Mariners       15012.160494
St. Louis Cardinals    26281.625000
Tampa Bay Rays          9513.400000
Texas Rangers          26052.567901
Toronto Blue Jays      10169.769231
Washington Nationals   18563.921053

### Question 2: Group by a categorical column and take the mean and max of the numeric columns

In [4]:
df.groupby('Home').agg(['mean', 'max'])

/var/folders/y4/5ln126497x945_nd7488z4pc0000gn/T/ipykernel_61838/1966373120.py:1: FutureWarning: ['Date', 'Away', 'Type'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby('Home').agg(['mean', 'max'])

                         Attendance
                               mean    max
Home
Arizona Diamondbacks   12876.666667  31661
Atlanta Braves         29434.623377  41136
Baltimore Orioles      10169.602564  30898
Boston Red Sox         21434.329114  36869
Chicago Cubs           24503.558442  40077
Chicago White Sox      20620.922078  38668
Cincinnati Reds        18683.237500  40854
Cleveland Indians      14513.578947  31406
Colorado Rockies       24854.423077  48245
Detroit Tigers         13706.358974  32845
Houston Astros         25537.148148  41259
Kansas City Royals     14383.287500  35784
Los Angeles Angels     18777.662500  40880
Los Angeles Dodgers    34625.839506  53114
Miami Marlins           7933.543210  25767
Milwaukee Brewers      22522.000000  43430
Minnesota Twins        16390.886076  29342
New York Mets          20815.388889  43144
New York Yankees       24134.743590  43180
Oakland Athletics       8767.875000  40133
Philadelphia Phillies  19188.481013  39186
Pittsburgh Pirates     10597.822785  32071
San Diego Padres       27061.111111  44144
San Francisco Giants   20734.370370  41155
Seattle Mariners       15012.160494  44414
St. Louis Cardinals    26281.625000  46525
Tampa Bay Rays          9513.400000  23783
Texas Rangers          26052.567901  38238
Toronto Blue Jays      10169.769231  29942
Washington Nationals   18563.921053  42064

### Question 3: Group by a categorical column and apply a custom aggregation function that calculates the mode of the numeric columns

In [5]:
def series_mode(ser):
    return ser.mode().iloc[0]

In [6]:
df.groupby('Home').agg(series_mode)

                             Date                   Away  Attendance Type
Home
Arizona Diamondbacks   2021-04-09       Colorado Rockies        5560    R
Atlanta Braves         2021-04-09          Miami Marlins       11739    R
Baltimore Orioles      2021-04-08         Boston Red Sox        4147    R
Boston Red Sox         2021-04-02       New York Yankees        4661    R
Chicago Cubs           2021-04-01        Cincinnati Reds       10343    R
Chicago White Sox      2021-04-08      Cleveland Indians       30017    R
Cincinnati Reds        2021-04-01     Pittsburgh Pirates        7549    R
Cleveland Indians      2021-04-05        Minnesota Twins        1832    R
Colorado Rockies       2021-04-01    Los Angeles Dodgers        7120    R
Detroit Tigers         2021-04-01      Cleveland Indians        8000    R
Houston Astros         2021-04-08     Los Angeles Angels       11862    R
Kansas City Royals     2021-04-01      Chicago White Sox        4481    R
Los Angeles Angels     2021-04-01      Oakland Athletics        8152    R
Los Angeles Dodgers    2021-04-09   Arizona Diamondbacks       15021    R
Miami Marlins          2021-04-01          New York Mets        3573    R
Milwaukee Brewers      2021-04-01        Cincinnati Reds       12130    R
Minnesota Twins        2021-04-08         Detroit Tigers        6724    R
New York Mets          2021-04-08         Atlanta Braves        8051    R
New York Yankees       2021-04-01         Tampa Bay Rays       10850    R
Oakland Athletics      2021-04-01         Houston Astros        8147    R
Philadelphia Phillies  2021-04-01         Atlanta Braves        8529    R
Pittsburgh Pirates     2021-04-08    St. Louis Cardinals        4023    R
San Diego Padres       2021-04-01   Arizona Diamondbacks       15250    R
San Francisco Giants   2021-04-09       Colorado Rockies       13144    R
Seattle Mariners       2021-04-01      Oakland Athletics        5776    R
St. Louis Cardinals    2021-04-08           Chicago Cubs       13176    R
Tampa Bay Rays         2021-04-09      Baltimore Orioles        2924    R
Texas Rangers          2021-04-05         Houston Astros       14747    R
Toronto Blue Jays      2021-04-08      Baltimore Orioles        1107    R
Washington Nationals   2021-04-06  Philadelphia Phillies        4801    R

### Question 4: Group by two categorical columns and take the mean of the numeric columns

In [7]:
df.groupby(['Home', 'Away'], observed=True).agg('mean')

                                             Attendance
Home                Away
Oakland Athletics   Houston Astros          8594.400000
                    Arizona Diamondbacks    3892.500000
                    San Francisco Giants   35569.333333
                    Tampa Bay Rays          6558.666667
                    Toronto Blue Jays       3104.500000
...                                                 ...
Los Angeles Dodgers Colorado Rockies       32665.222222
                    San Diego Padres       34935.400000
                    Philadelphia Phillies  39998.666667
                    Cincinnati Reds        15185.666667
                    Washington Nationals   15035.333333

[540 rows x 1 columns]

### Question 5: Group by binned numeric column and take the mean of the numeric columns.

In [8]:
# Set up the bins to a specific size
bins = [1000, 10000, 20000, 30000, 40000, 50000, 60000]

# create a new column for the bin
df['binned'] = pd.cut(df['Attendance'], bins)

# group and average
df.groupby('binned').mean()

                  Attendance
binned
(1000, 10000]    7076.820470
(10000, 20000]  14288.907384
(20000, 30000]  24603.519266
(30000, 40000]  34259.120000
(40000, 50000]  43307.516854
(50000, 60000]  52057.062500