In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('attendance.csv')

### Question 1: Add a new column that is the sum of a numeric column that was grouped by a string column.

In [19]:
df = df.assign(total_home_attendance=df.groupby('Home').Attendance.transform('sum'))
df

,Date,Away,Home,Attendance,Type,total_home_attendance
0,2021-04-01,Houston Astros,Oakland Athletics,10436,R,701430
1,2021-04-01,Arizona Diamondbacks,San Diego Padres,10350,R,2191950
2,2021-04-01,San Francisco Giants,Seattle Mariners,8174,R,1215985
3,2021-04-01,Atlanta Braves,Philadelphia Phillies,8529,R,1515890
4,2021-04-01,Tampa Bay Rays,Miami Marlins,7062,R,642617
...,...,...,...,...,...,...
2365,2021-10-03,Colorado Rockies,Arizona Diamondbacks,12565,R,1043010
2366,2021-10-03,Oakland Athletics,Houston Astros,29752,R,2068509
2367,2021-10-03,Minnesota Twins,Kansas City Royals,17158,R,1150663
2368,2021-10-03,Milwaukee Brewers,Los Angeles Dodgers,43170,R,2804693
2369,2021-10-03,Boston Red Sox,Washington Nationals,33986,R,1410858

### Question 2: Filter out the rows that have less than 3 entries when grouped by a string column.

In [29]:
df[df.total_home_attendance >= 2_800_000]

,Date,Away,Home,Attendance,Type,total_home_attendance
104,2021-04-09,Washington Nationals,Los Angeles Dodgers,15036,R,2804693
117,2021-04-10,Washington Nationals,Los Angeles Dodgers,15021,R,2804693
130,2021-04-11,Washington Nationals,Los Angeles Dodgers,15049,R,2804693
156,2021-04-13,Colorado Rockies,Los Angeles Dodgers,15021,R,2804693
169,2021-04-14,Colorado Rockies,Los Angeles Dodgers,15093,R,2804693
...,...,...,...,...,...,...
2311,2021-09-29,San Diego Padres,Los Angeles Dodgers,45366,R,2804693
2323,2021-09-30,San Diego Padres,Los Angeles Dodgers,52550,R,2804693
2338,2021-10-01,Milwaukee Brewers,Los Angeles Dodgers,51388,R,2804693
2353,2021-10-02,Milwaukee Brewers,Los Angeles Dodgers,49705,R,2804693
2368,2021-10-03,Milwaukee Brewers,Los Angeles Dodgers,43170,R,2804693